body{
    background-color:rgb(241, 241, 241);
    font-family:"Roboto", Helvetica, sans-serif;
}

#updateForm{
    background-color:rgb(184, 184, 184);
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    text-align:center;
    border-radius:20px;
}