<!-- REQUIRED ELEMENTS ON THIS PAGE:
     -Form -->

<!--- Explanation for the form -->
<div class = "explainBox">
  <p>Of course, one simple website probably can't change your opinion about rats completely. That's why it's 
  important to gather some opinions and see how people feel about them. This form serves to give you a place to
  voice your opinions on rats, to see where the gaps in my information are. </p>

</div>
<br />

<!--Form Itself-->
<div class = "bigBox">
<form id = "surveyForm">
  <div class = "innerForm">
    
    <label for="name-input">Name:</label>
    <input type = "text" id = "name-input" required>

    <div class= "centeredBox">
      <br /><span>How do you feel about rats?</span> <br />
      
      <input type = "radio" id = "opinion_great" name="opinion" value = "opinion_great">
      <label for="opinion-great">They're pretty rad!</label><br />
      
      <input type = "radio" id = "opinion_meh" name = "opinion" value = "opinion_meh">
      <label for="opinion_meh">They're okay.</label><br />
      
      <input type = "radio" id = "opinion_bad" name = "opinion" value = "opinion_bad">
      <label for="opinion_bad">Not a huge fan.</label><br />

      <span>Why do you feel that way?</span> <br />
      <textarea id = "longRes" name = "longRes" rows="5" cols = "25"></textarea>
    </div>
    
    <div class = "submitBox">
      <input type = "submit" id = "formButton" value = "Submit">
    </div>
  </div>
</form>

<!--- Place where user's input is displayed back to them. Used to show that POST to http bin works. --->
<div class = "smallBox firstBox">
  <span id = "thanks"></span>
</div>

<div class = "smallBox">
  <b>Name:</b>
  <span id ="namePosition"></span>
</div>

<div class = "smallBox bottomBox">
  <b>Opinion on Rats:</b>
  <span id = "opinionPosition"></span>
</div>

<div class = "smallBox bottomBox">
  <b>Explanation:</b>
  <span id = "longResPosition"></span>
</div>


</div>

<!-- Javascript for form located in static folder -->
<script src = "/javascript/formScript.js"></script>
