<!doctype html>
<html>
  <head>
    <meta charset = "UTF-8">
    <!--Icon -->
    <link rel="icon" href="/img/rat_icon.png"> 

    <!-- Bootstrap Carousel Stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Styling for all pages -->
    <link rel="stylesheet" href = "/css/allStyle.css">
    <!--Page Specific Style-Sheet -->
    <link rel="stylesheet" type="text/css" href="/css/{{style}}">

    <title>{{title}}</title>
  </head>
	
<body>
  <!--Navigation Menu-->
  <ul class ="navList">
    <a href = "/">
      <li class = "homePage_li" id = "homeLink">
        <img id = "iconImage" src = "/img/rat_icon.png">
      </li>
    </a>
    
    <a href = "/information">
      <li class = "subPage_li" id = "infoLink">
        RAT INFO
      </li>
    </a>

    <a href = "/misinformation">
      <li class = "subPage_li" id = "misInfoLink">
        RAT MISINFO
      </li>
    </a>
  
    <a href=  "/form-page">
      <li class = "formPage_li" id = "formLink">
        FORM
      </li>
    </a>
  </ul>

  {{{body}}} 
</body>	

</html>
