<h1> You have sent a GET request! </h1>
<h2> The information you have sent is:</h2>
<table>
  <thead> 
    <tr>
      <th><b>Parameter</b></th>
      <th><b>Value</b></th>
  </thead>

  <tbody>    

    {{#each getData}}
      <tr>
    	<td>{{this.pName}}</td>
        <td>{{this.pValue}}</td>
      </tr>
    {{/each}}
  
  </tbody>
</table>

 
