<!-- REQUIRED ELEMENTS ON THIS PAGE: 
     -Scroll bar (third text box)
     -Download Button (end of third text box, scroll down)
     -Unordered List (first + second text box)
     -External Links -->

<h1 style="background-color:rgb(233, 233, 233);">Rat Fact Central</h1>
<h4 style = "background-color:rgb(233, 233, 233);">Some handy information, fun facts, and an intro to Rat Care</h4>


<!--- Video + Explanation Box --->
<div class = "topPageDiv">
  <!-- YouTube Imbed -->

  <div class = "videoContainer">
    <iframe width="456" height="345" src="https://www.youtube.com/embed/ntknEXYSp-s" frameborder="0" allow="accelerometer;
    autoplay; encrypted-media;gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class = "videoDiv">
    <ul>
      <h5>What can they eat?</h5>
      <li>
        Rats can eat just about anything we can eat. Of course, not all of it is good for them! 
        Rats tend to need a diet of fruits/vegetables, and a protein source. They generally require 
        <a href ="http://ratclub.org/ratcare_diet.htm"> 75%-80% of their diet to be carbohydrates</a>. 
        As a treat, rats really enjoy dried rolled oats, small bits of chicken, and even some dog
        treats (as long as they're not low quality)! <br /> 
      </li>
      <li>
        There are a few exceptions to what they can eat. Blue cheese is a hazardous food for them
        because of the mold used to make it. Dried corn contains fungal contaminants, which will
        make a rat very sick.
      </li>
    </ul>
  </div>
</div>

<!--- Picture + Text Box --->
<div class = "midPageDiv">
  <div class = "midDiv">
   <h5><ul>Fun Facts</ul></h5>
    <ul>
      <li>
        Rats actually take care of other sick and injured rats. 
      </li>

      <li>
        Their teeth never stop growing. This is why it's important to provide them surfaces to gnaw on.
      </li>

      <li>
        Rats are pretty emotive. They're known to have different facial expressions depending on how much they
        like the food they're eating. They even know how to read each other's faces for what emotions they're feeling.
        These little guys have a whole range of emotion!
      </li>

      <li>
        One study even found that <a href="https://www.sciencemag.org/news/2014/06/rats-regret-bad-decisions">
        rats are capable of regret.</a> Why the study was done, still unsure.
      </li>


    </ul> 
    
    <br />
    Image courtsey of
    <a href="https://pixabay.com/users/Kapa65-61253/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=imag
    e&amp;utm_content=1918709">Karsten Paulick</a> from Pixabay.
  </div>

  <div class = "imageOneDiv">
    <img src="/img/soft_rat.jpg" width = "456" height = "345" alt="Image of brown/white rat in a beige blanket.">
  </div>
</div>


<!--- Picture + Text Box (with scroll bar + download link)--->
<div class = "endPageDiv">
  <div class = "imageTwoDiv">
    <img src="/img/baby_rats.jpg" width = "456" height = "345"
    alt="Two baby rats, one white and one brown, playing in the grass.">
  </div>

  <div class = "endDiv">
    <h5><ul>Rat Care</ul></h5>
    <p>Rat care is a very important subject. They may seem like easy pets to maintain, but they have a few very 
    important requirements to keep in mind. So, here's some handy information on rat care.</p>

    <ul>
      <li>
        They're incredibly social animals. Thus, if you're getting ONE rat.... You need to prepare to get more. As friendly as a
        human can be, rats depend on other rats for companionship, grooming, and socializing. Without another rat, they'll
        become anxious. So, at least keep them in same-sex pairs.
      </li>

      <li>
        Rats are intelligent and curious. So, they need a lot of enrichment. You are probably going to need a bigger cage (honestly,
        the bigger the better). Also, don't keep them in glass tanks. Their lungs are sensitive, and the lack of fresh airflow might
        damage their lungs. Do tons of research on toys to make sure they're safe! Things like platforms, hammocks, places to hide,
        and things to chew on are all good bets for things to put in their cage. 
      </li>

      <li>
        Rats may be affectionate and loving, but they'll need time to trust you first! Spend lots of time with them, talk to them,
        anything to get them used to your presence. They'll come to be loving in their own time!
      </li>

      <li>
        A rat isn't a "low maintenance" pet. They're prone to tumors and respiratory issues, and can easily cost a lot of money in
        vet bills for a 2-3 year life span. Don't adopt rats with the expectation of easy pet care. It's time and committment. That
        being said, if you're willing to put in the work, rats make excellent companions!
      </li>
    </ul>

      <a href = "/pdf/rat_care_brochure.pdf" download="rat_care_brochure.pdf">
        <input type = "button" value = "Click to download a Rat Care Guide"></input>
      </a>
    <br />
    Image courtesy of <a href="https://pixabay.com/users/sipa-62896/?utm_source=link-attribution&amp;utm_medium=referral&amp;
    utm_campaign=image&amp;utm_content=1388830">sipa</a> from Pixabay.
  </div>
</div>
