<!-- REQUIRED ELEMENTS ON THIS PAGE:
     -External Links -->

<!--- Title + Explanation --->
<h1> Some Common Misconceptions </h1>
<div class = "titleExplanation">
  Rats have a lot of negative stigma associated with them. They're often pests in urban settings, and
  have been responsible for a plague or two. However, they're actually really cool companion animals. 
  A lot of the negative things surrounding them are untrue, or misunderstood. So, let me try to change
  your definition of rat from pest to pet!
</div>


<!--- Individual Items --->
<div class="itemOne">
  
  <h3> "Rats are naturally aggressive and scary." </h3> 

  <img class = "ratPic" src="/img/rat_bite.jpg" width = "300" height = "200"
  alt="Image of a brown rat biting someone's finger">

  <div class ="itemOneText">
    This is one that wards many people off. People fear getting bit by one and getting
    whatever disease it's carrying. However, rats (even the wild ones) are generally cautious,
    and don't want to pick fights. They only really attack when they're scared or cornered. So when 
    you see one, even if it's wild, it won't seek you out to attack you. It's more scared of you,
    than you are of it! (Granted, that might not help the creep-factor if you see a rat when
    you don't mean to see one)
    <br />

    <u>Image courtesy of <a href="https://pixabay.com/users/sipa-62896/?utm_source=link-attribution&amp;
    utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4109448">sipa</a> from Pixabay</u>
  </div>  
</div>

<div class="itemTwo"> 
  
  <h3> "Rats can't be kept as tamed pets. They're always going to be somewhat wild." </h3>
  
  <img class = "ratPic" src="/img/shoulder_rat.jpg" width = "300" height = "200"
  alt="Image of a black and white rat sitting on a shoulder.">
  
  <div class ="itemTwoText">
    Rats have been bred as pets for over a cenutry now! Starting in the late 19th century, people have been
    keeping them as pets because of their intelligence and curiousity for the world around them. They're 
    about as tame as your average dog/cat. Pet rats generally behave a little different than their wild
    counterparts, because of specifically-bred traits. So, the rat you see digging through trash will not
    act the same as one who lives in a cage.
    <br />

    <u>Image courtesy of <a href="https://pixabay.com/users/sipa-62896/?utm_source=link-attribution&amp;
    utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1752908">sipa</a> from Pixabay</u>
  </div>
</div>

<div class="itemThree"> 
  
  <h3> "Rats are always really dirty." </h3>
  
  <img class = "ratPic" src="/img/cup_rat.jpg" width = "300" height = "200" 
  alt="Image of a brown rat peeking out of a glass cup.">
  
  <div class ="itemThreeText">
    Rats actually <a href = "http://www.vetstreet.com/our-pet-experts/5-facts-that-will-change-the-way-
    you-think-about-rats">really hate being dirty</a>. They spend lots of time grooming themselves, and
    helping clean other rats. They're kind of neat freaks! With their association to... Well, the Plague,
    they tend to get a bad rap for being dirty. That couldn't be farther from the truth! Of course, as with
    any animal, you need to clean out their living space regularly in order to help them maintain their
    cleanliness!
    <br/>

    <u>Image courtesy of <a href="https://pixabay.com/users/Shutterbug75-2077322/?utm_source=link-attribution&amp;
    utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1239130">Shutterbug75</a> from Pixabay</u>
  </div>
</div>

<div class="itemFour">
  
  <h3> "Rats can't show affection, they don't have the capacity for that." </h3> 
  
  <img class = "ratPic" src="/img/hand_rats.jpg" width = "300" height = "200"
  alt="Image of two brown rats in someones hand">
  
  <div class ="itemFourText">
    That would be like saying your dog or cat can't show love. Rats are actually highly intelligent 
    creatures, and <a href= https://www.thesprucepets.com/how-smart-are-rats-3975140> definitely feel
    love and affection toward their human counterparts</a>. They're social animals, and love spending
    time with other rats and members of their family. Rats can definitely become bonded to their
    people, given some time and room to trust. 

    <br />

    <u>Image courtesy of <a href="https://pixabay.com/users/Kapa65-61253/?utm_source=link-attribution&amp;
    utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2582733">Karsten Paulick</a> from Pixabay</u>
  </div>
</div>
